body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    width: 700px;
    height: 300px;
    border: 1px solid darkgrey;
	border-radius: 4px;

}

#text{
    width: 700px;
    border: 1px solid darkgrey;
	border-radius: 4px;
}


.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}


.fieldWrapper{
    margin: 20px;
    margin-left: 0px;
}

button{
    background-color: #f8f9fa;
	border: 1px solid darkgrey;
	border-radius: 4px;
}