{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    {% if form %}
    <form method='POST' action="{% url 'create'%}">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="fieldWrapper">
            <button type="submit" name="save">Save</button>
        </div>
    </form>
    {% else %}
    Page already exist
    {% endif %}
{% endblock %}