{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
<h1>Edit Page</h1>
    <form method='POST' action="{% url 'edit' title=title %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="fieldWrapper">
            <button type="submit" name="save">Save</button>
        </div>
    </form>
    
{% endblock %}